---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Genderswap.fm"
  description="Some covers deliver the age-old simple pleasures of drag…"
>
  <div class="main">
    <h1>Genderswap.fm</h1>
    <p>Work in progress.</p>
  </div>
</BaseLayout>

<style lang="scss">
  .main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;

    p {
      font-size: var(--step-1);
      margin-block-start: 0.4em;
    }
  }
</style>
