.coversGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--space-3xl) * 4), 1fr)
  );
  align-items: center;
  gap: var(--space-xl);
  row-gap: var(--space-2xl);
  padding-block: var(--space-2xl);
  @supports (padding: max(0px)) {
    padding-inline-start: max(var(--space-l), env(safe-area-inset-left));
    padding-inline-end: max(var(--space-l), env(safe-area-inset-right));
  }
  @media (max-width: 1100px) {
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc(var(--space-3xl) * 3.5), 1fr)
    );
  }
  @media (max-width: 580px) {
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc(var(--space-3xl) * 3), 1fr)
    );
  }
}

.coverCard {
  position: relative;
  border-radius: var(--radius-m);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  gap: var(--space-xl);
  text-align: center;

  @media (hover: hover) and (pointer: fine) {
    &:not(.placeholder):hover {
      .album {
        transform: rotate(0) translateX(0);
      }

      .title {
        background: linear-gradient(to right, var(--violet-9), var(--red-9));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.albums {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  width: 100%;
}

.album {
  background-color: var(--mauve-4);
  border-radius: var(--radius-xs);
  overflow: hidden;
  aspect-ratio: 1;
  transition: transform 0.2s ease-in-out;

  :not(.placeholder) {
    // https://shadows.brumm.af/
    box-shadow:
      0px 1.8px 3.6px rgba(0, 0, 0, 0.017),
      0px 5px 10px rgba(0, 0, 0, 0.025),
      0px 12.1px 24.1px rgba(0, 0, 0, 0.033),
      0px 40px 80px rgba(0, 0, 0, 0.05);
  }

  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  &:first-child {
    width: 40%;
    transform: rotate(-10deg) translateX(6%);
    transform-origin: 100% 0;
  }

  &:last-child {
    width: 60%;
    transform: rotate(6deg) translateX(-6%);
    transform-origin: 0 0;
  }
}

@keyframes pulse {
  0% {
    background-color: var(--mauve-4);
  }
  50% {
    background-color: var(--mauve-3);
  }
  100% {
    background-color: var(--mauve-4);
  }
}

.placeholder .album,
.title:empty,
.artist:empty {
  animation: pulse 1s ease-in-out infinite;
}

.placeholder .album:first-child {
  opacity: 0.8;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
  width: 100%;
}

.title,
.artist {
  text-wrap: balance;
  transition: color 0.2s ease;
  width: 100%;
}

.title:empty,
.artist:empty {
  background: var(--mauve-3);
  display: block;
  border-radius: var(--radius-xs);
}

.title {
  font-size: var(--step-1);

  &:empty {
    width: 70%;
    height: var(--space-xl);
  }
}

.artist {
  color: var(--mauve-11);
  line-height: 1.3;

  &:empty {
    width: 90%;
    height: var(--space-l);
  }
}

.link {
  position: absolute;
  inset: 0;
}

.pagination {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  align-items: center;
  margin-inline: auto;
  margin-block-end: var(--space-xl);

  .buttons {
    display: flex;
    gap: var(--space-s);
  }

  button {
    background: var(--mauve-12);
    color: var(--mauve-1);
    border: none;
    cursor: pointer;
    border-radius: var(--radius-full);
    padding-block: var(--space-s);
    padding-inline: var(--space-xl);
    font-size: var(--step-1);
    font-weight: var(--font-weight-bold);

    @media (hover: hover) and (pointer: fine) {
      &:not([disabled]):hover {
        background: var(--violet-9);
        color: white;
      }
    }

    &[disabled] {
      opacity: 0.3;
      cursor: default;
    }

    &:focus {
      outline: 3px solid var(--violet-a9);
      outline-offset: 3px;
    }
  }
}
