---

---

<div class="container">
  <slot />
</div>

<style>
  .container {
    box-sizing: content-box;
    margin-inline: auto;
    width: calc(100% - 3rem);
    max-inline-size: 60ch;
    padding-inline: var(--space-l);
    @supports (padding: max(0px)) {
      padding-inline-start: max(var(--space-l), env(safe-area-inset-left));
      padding-inline-end: max(var(--space-l), env(safe-area-inset-right));
    }
  }
</style>
