---
type Props = {
  text: string;
};

const { text } = Astro.props;
---

<div class="tag">
  {text}
</div>

<style>
  .tag {
    display: inline-block;
    background: var(--violet-3);
    color: var(--violet-11);
    padding-block: var(--space-2xs);
    padding-inline: var(--space-m);
    border-radius: var(--radius-full);
    font-size: var(--step-0);
  }
</style>
