.error {
  display: flex;
  align-items: center;
  background: var(--red-3);
  padding: var(--space-3xs) var(--space-2xs);
  border-radius: var(--radius-sm);
  gap: var(--space-3xs);
  color: var(--red-9);
  margin-block-start: var(--space-2xs);
}
