.header {
  text-align: center;
  font-size: var(--step-4);
  padding-block: var(--space-m) var(--space-xl);
}

.submitButton {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  background: var(--violet-9);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: var(--radius-full);
  height: 56px;
  padding-inline: var(--space-xs) var(--space-s);
  margin-inline: auto;

  &:hover {
    background: var(--violet-10);
  }
}
