.label {
  display: block;
  padding-block-end: var(--space-3xs);
}

.optional {
  font-size: var(--step--1);
  font-style: italic;
}

.input {
  border: none;
  display: block;
  background: var(--violet-3);
  border-radius: var(--radius-md);
  padding-block: var(--space-2xs);
  padding-inline: var(--space-xs);
  width: 100%;
  resize: none;

  &::placeholder {
    color: var(--violet-a7);
  }

  &:focus {
    outline: 3px solid var(--violet-a9);
    outline-offset: 3px;
  }
}

.helpText {
  padding-block-start: var(--space-3xs);
  font-size: var(--step--1);
  font-variant-numeric: tabular-nums;

  &.warning {
    color: var(--red-9);
    font-weight: var(--font-weight-bold);
  }
}
