// Selected Song
.selectedSong {
  background: var(--violet-3);
  border-radius: var(--radius-l);
  padding: var(--space-s);
  display: flex;
  align-items: center;
  gap: var(--space-m);
}

.selectedAlbum {
  border-radius: var(--radius-m);
  width: 120px;
  height: 120px;
}

.selectedLabel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.selectedName {
  font-size: var(--step-1);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  margin-block-end: var(--space-xs);
}

.clearSelection {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  flex-shrink: 0;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: var(--radius-full);
  cursor: pointer;
  line-height: 0;
  color: var(--violet-11);

  &:hover {
    background: var(--violet-4);
  }
}

// Search Input
.searchWrapper {
  position: relative;
  &.hidden {
    display: none;
  }
}

.inputWrapper {
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}

.searchInput {
  border: none;
  width: 100%;
  background: var(--violet-3);
  border-radius: var(--radius-full);
  height: 56px;
  padding-left: 56px;

  &::placeholder {
    color: var(--violet-a7);
  }

  &:focus {
    outline: 3px solid var(--violet-a9);
    outline-offset: 3px;
  }
}

.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: var(--space-s);
  overflow-y: scroll;
  background-color: var(--violet-3);
  border-radius: var(--radius-m);
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  width: var(--radix-select-trigger-width);
  max-height: 50vw;
  padding: var(--space-xs);
  z-index: 10;

  &.hidden {
    display: none;
  }
}

.result {
  line-height: 1;
  color: var(--violet-12);
  border-radius: var(--radius-s);
  padding: var(--space-xs);
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--space-s);
  user-select: none;
  cursor: pointer;

  &.highlighted {
    outline: none;
    background-color: var(--violet-5);
  }
}

.resultLabel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: var(--space-2xs);
}

.resultAlbum {
  width: 60px;
  height: 60px;
  background: var(--violet-3);
  border-radius: var(--radius-xs);
}

.resultName {
  font-weight: var(--font-weight-bold);
  margin-block-end: calc(var(--space-xs) * -1);
}

.resultName,
.resultArtist {
  padding-block: var(--space-2xs);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resultArtist {
  font-size: var(--step--1);
}
