// Selected Song
.selectedSong {
  background: var(--mauve-3);
  border-radius: var(--radius-l);
  padding: var(--space-m);
  display: grid;
  grid-template: "album content clear";
  grid-template-columns: var(--space-3xl) 1fr var(--space-2xl);
  align-items: flex-start;
  gap: var(--space-m);
}

.selectedAlbum {
  border-radius: var(--radius-xs);
  width: var(--space-3xl);
  height: var(--space-3xl);
}

.selectedLabel {
  display: flex;
  flex-direction: column;
  flex: 1;
  grid-area: content;
}

.selectedName {
  font-size: var(--step-1);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  margin-block-end: var(--space-xs);
}

.clearSelection {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: transparent;
  width: var(--space-2xl);
  height: var(--space-2xl);
  border-radius: var(--radius-full);
  cursor: pointer;
  line-height: 0;
  color: var(--mauve-11);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: var(--mauve-4);
    }
  }
}

// Search Input
.searchWrapper {
  position: relative;
  &.hidden {
    display: none;
  }
}

.inputWrapper {
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--space-m);
  fill: currentColor;
}

.searchInput {
  border: none;
  width: 100%;
  background: var(--mauve-3);
  border-radius: var(--radius-full);
  padding-block: var(--space-s);
  padding-inline: var(--space-m);
  padding-left: calc(24px + var(--space-m) + var(--space-s));

  &::placeholder {
    color: var(--mauve-8);
  }

  &:focus {
    outline: 3px solid var(--violet-a9);
    outline-offset: 3px;
  }
}

.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: var(--space-s);
  overflow-y: scroll;
  background-color: var(--mauve-3);
  border: 1px solid var(--mauve-6);
  border-radius: var(--radius-m);
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  width: var(--radix-select-trigger-width);
  padding: var(--space-xs);
  z-index: 10;
  max-height: 40vh;

  &.hidden {
    display: none;
  }
}

.result {
  color: var(--mauve-12);
  border-radius: var(--radius-s);
  padding: var(--space-xs);
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--space-s);
  user-select: none;
  cursor: pointer;

  &.highlighted {
    outline: none;
    background-color: var(--mauve-5);
  }
}

.resultLabel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: var(--space-s);
}

.resultAlbum {
  width: var(--space-3xl);
  height: var(--space-3xl);
  background: var(--mauve-3);
  border-radius: var(--radius-xs);
}

.resultName {
  font-weight: var(--font-weight-bold);
  margin-block-end: calc(var(--space-xs) * -1);
}

.resultName,
.resultArtist,
.resultAlbumNameAndYear {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resultLabelDetails {
  font-size: var(--step--1);
}
